.footer {
   padding: 5%;

   &__main {
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      justify-content: center;

      @media (max-width: 950px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 550px) {
         grid-template-columns: 1fr;
         margin: 0 5%;
      }

      &--child {
         p {
            margin: 5% 0;
            max-width: 22rem;
            color: var(--grey);
         }

         &--social-links {
            display: flex;
            gap: 2rem;

            svg {
               cursor: pointer;
            }
         }

         h4 {
            font-weight: 600;
            font-size: 2.4rem;
            color: var(--color-pri);
            margin-bottom: 5%;
         }

         ul {
            li {
               color: var(--grey);
               padding: 2% 0;
               cursor: pointer;
            }
         }
      }
   }
}
