.footer {
   padding: 5%;

   &__main {
      display: flex;
      flex-wrap: wrap;
      gap: 5%;
      justify-content: space-between;

      @media (max-width: 950px) {
         display: grid;
         grid-template-columns: 1fr 1fr;
      }

      @media (max-width: 550px) {
         grid-template-columns: 1fr;
         margin: 0 5%;
      }

      &--child {
         p {
            margin: 5% 0;
            max-width: 22rem;
            color: var(--grey);
         }

         &--social-links {
            display: flex;
            gap: 2rem;

            svg {
               cursor: pointer;
            }
         }

         h4 {
            font-weight: 600;
            font-size: 2.4rem;
            color: var(--color-pri);
            margin-bottom: 5%;
         }

         ul {
            li {
               color: var(--grey);
               padding: 2% 0;
               cursor: pointer;
            }
         }
      }
   }

   &__submain {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 3%;
      padding: 3% 0;
      border-top: 1px solid #c0c0c0;

      @media (max-width: 950px) {
         margin-top: 6%;
      }

      @media (max-width: 550px) {
         margin-top: 35%;
         flex-direction: column;
         gap: 2rem;
         text-align: center;
      }

      &--copyright {
         font-weight: 500;
         font-size: 1.4rem;
         color: #6c6b6b;
      }

      &--move-to-top {
         width: 5rem;
         height: 5rem;
         border-radius: 50%;
         background: #a3a3a3;
         display: flex;
         align-items: center;
         justify-content: center;

         svg {
            transform: rotate(-90deg);
            cursor: pointer;

            path {
               stroke: white;
            }
         }
      }
   }
}
